# WHO Project - Mortality MetriX

## Initial EDA

In [1]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv("Life Expectancy Data.csv")

In [3]:
pd.set_option('display.max_columns', None)
df.head()

,Country,Region,Year,Infant_deaths,Under_five_deaths,Adult_mortality,Alcohol_consumption,Hepatitis_B,Measles,BMI,Polio,Diphtheria,Incidents_HIV,GDP_per_capita,Population_mln,Thinness_ten_nineteen_years,Thinness_five_nine_years,Schooling,Economy_status_Developed,Economy_status_Developing,Life_expectancy
0,Turkiye,Middle East,2015,11.1,13.0,105.8240,1.32,97,65,27.8,97,97,0.08,11006,78.53,4.9,4.8,7.8,0,1,76.5
1,Spain,European Union,2015,2.7,3.3,57.9025,10.35,97,94,26.0,97,97,0.09,25742,46.44,0.6,0.5,9.7,1,0,82.8
2,India,Asia,2007,51.5,67.9,201.0765,1.57,60,35,21.2,67,64,0.13,1076,1183.21,27.1,28.0,5.0,0,1,65.4
3,Guyana,South America,2006,32.8,40.5,222.1965,5.68,93,74,25.3,92,93,0.79,4146,0.75,5.7,5.5,7.9,0,1,67.0
4,Israel,Middle East,2012,3.4,4.3,57.9510,2.89,97,89,27.0,94,94,0.08,33995,7.91,1.2,1.1,12.8,1,0,81.7

In [4]:
df.columns

Index(['Country', 'Region', 'Year', 'Infant_deaths', 'Under_five_deaths',
       'Adult_mortality', 'Alcohol_consumption', 'Hepatitis_B', 'Measles',
       'BMI', 'Polio', 'Diphtheria', 'Incidents_HIV', 'GDP_per_capita',
       'Population_mln', 'Thinness_ten_nineteen_years',
       'Thinness_five_nine_years', 'Schooling', 'Economy_status_Developed',
       'Economy_status_Developing', 'Life_expectancy'],
      dtype='object')

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

In [ ]:
df.Country.value_counts()

In [ ]:
df.dtypes

In [ ]:
df['Region'].unique()

In [25]:
print(f'min: {df['Adult_mortality'].min()}, max: {df['Adult_mortality'].max()}')

In [29]:
print(f'min: {df['Under_five_deaths'].min()}, max: {df['Under_five_deaths'].max()}')

min: 2.3, max: 224.9

In [26]:
print(f'min: {df['BMI'].min()}, max: {df['BMI'].max()}')

min: 19.8, max: 32.1

In [27]:
print(f'min: {df['GDP_per_capita'].min()}, max: {df['GDP_per_capita'].max()}')

min: 148, max: 112418

In [28]:
print(f'min: {df['Schooling'].min()}, max: {df['Schooling'].max()}')

min: 1.1, max: 14.1

In [35]:
df.loc[df['Under_five_deaths'] > 200]

,Country,Region,Year,Infant_deaths,Under_five_deaths,Adult_mortality,Alcohol_consumption,Hepatitis_B,Measles,BMI,Polio,Diphtheria,Incidents_HIV,GDP_per_capita,Population_mln,Thinness_ten_nineteen_years,Thinness_five_nine_years,Schooling,Economy_status_Developed,Economy_status_Developing,Life_expectancy
225,Haiti,Central America and Caribbean,2010,102.6,203.6,262.2060,2.280,60,83,24.6,66,66,0.90,1297,9.95,4.0,4.0,4.7,0,1,60.5
383,Niger,Africa,2001,93.7,215.2,290.6955,0.093,72,64,20.9,42,36,0.44,413,11.75,12.7,12.7,1.1,0,1,50.6
1417,Sierra Leone,Africa,2000,138.1,224.9,531.3245,3.750,71,60,22.0,46,44,1.59,403,4.58,1.3,1.4,2.3,0,1,39.4
1815,Sierra Leone,Africa,2001,135.6,219.4,519.6305,3.980,71,60,22.1,38,38,1.57,364,4.75,1.1,1.2,2.4,0,1,40.4
1923,Sierra Leone,Africa,2002,132.9,213.9,507.9370,3.900,71,60,22.2,54,53,1.53,441,4.97,9.9,1.0,2.5,0,1,41.4
1970,Angola,Africa,2000,121.5,204.4,371.4315,1.470,67,64,21.7,21,28,1.24,1832,16.40,1.9,1.9,4.4,0,1,46.5
2425,Niger,Africa,2002,90.1,204.5,289.5665,0.088,72,64,20.9,43,39,0.38,418,12.19,12.5,12.5,1.2,0,1,51.3
2765,Sierra Leone,Africa,2004,127.2,202.0,483.7790,3.810,70,60,22.3,69,65,1.41,469,5.43,9.5,9.5,2.6,0,1,43.5
2803,Sierra Leone,Africa,2003,130.2,208.1,495.8585,3.870,72,60,22.2,66,73,1.49,460,5.20,9.7,9.8,2.5,0,1,42.4
2859,Niger,Africa,2000,97.0,224.9,291.8240,0.092,72,64,20.8,41,34,0.49,399,11.33,12.8,12.9,1.1,0,1,49.9

## Correlations and Aggregates

In [ ]:
df.describe()

In [ ]:
df['Year'].unique()

In [ ]:
plt.figure(figsize = (12, 12))
sns.heatmap(df.corr(numeric_only=True), 
            annot = True,
            vmin = -1 ,
            vmax = +1 ,
            cmap=sns.diverging_palette(0, 240, as_cmap=True) ,
            fmt = '.2' ,
            mask = np.triu(df.corr(numeric_only=True)))

plt.show()

In [ ]:
log_gdp = np.log(df['GDP_per_capita'])

sns.scatterplot(x = log_gdp,
                y = 'Life_expectancy',
                color = 'blue',
                data = df)

# sns.scatterplot(x = 'GDP_per_capita',
#                 y = 'Life_expectancy',
#                 color = 'red',
#                 data = df)

plt.show()

In [ ]:
sns.scatterplot(x = 'Population_mln',
                y = 'Life_expectancy',
                color = 'blue',
                data = df)

plt.show()

## Attempted Test Run

In [ ]:
# The train-test split function - we need to use this before we create the model
from sklearn.model_selection import train_test_split

# We will be using statsmodels for LinReg and then metrics to measure its performance
import statsmodels.api as sm    # Linear regression
import statsmodels.tools        # Evaluation metrics

# For scaling
from sklearn.preprocessing import StandardScaler, RobustScaler, MinMaxScaler

## Train-Test Split

In [ ]:
feature_cols = list(df.columns)
feature_cols.remove('Life_expectancy')
feature_cols

In [ ]:
# Create X, and y - just using masks on the dataframe that we learned about in Pandas

X = df[feature_cols]   # our set of features
y = df['Life_expectancy']  # our target

In [ ]:
feature_cols.remove('Country')
feature_cols.remove('Region')

In [ ]:
# Now that we have separated our features from the target - we do the train-test split

X_train, X_test, y_train, y_test = train_test_split(X, # Features
                                                    y, # Target
                                                    test_size = 0.2, # allocate 20% for test
                                                    random_state = 1000)

In [ ]:
## Next code cells are sanity checks for TEST-TRAIN split
print(f'Indices match in X_train and y_train: {all(X_train.index == y_train.index)}')
print(f'Indices match in X_test and y_test: {all(X_test.index == y_test.index)}')
print(f'Number of obs. match in X_train and y_train: {X_train.shape[0] == len(y_train)}')
print(f'Number of obs. match in X_test and y_test: {X_test.shape[0] == len(y_test)}')

## Feature Engineering

In [ ]:
def feature_engineer(df):
    df = df.copy()       # IMPORTANT! - don't want to interact with the original, global dataframe

    # Now we can OHE the 'Region' column
    df = pd.get_dummies(df, columns = ['Region'], drop_first = True, prefix = 'Region', dtype = int)

    # Other Features that we wanted to change
    df['log_gdp'] = np.log(df['GDP_per_capita'])                                         # creates an additional column for the log of GDP since it was a non-linear relationship
    df['immunisation_avg'] = (df['Polio'] + df['Diphtheria'] + df['Hepatitis_B']) / 3    # averages the immunisation rates into one feature to avoid multicollinearity 

    # VITAL!!! - we MUST also add the constant term for linreg to run in statsmodels... 
    df = sm.add_constant(df)
    
    # Return the Feature Engineered version of the dataframe
    return df

In [ ]:
X_train_fe = feature_engineer(X_train)

In [ ]:
list(X_train_fe.columns)

In [ ]:
feature_cols = ['const',
# 'Country',
 'Year',
 'Infant_deaths',
# 'Under_five_deaths',
 'Adult_mortality',
 'Alcohol_consumption',
# 'Hepatitis_B',
 'Measles',
 'BMI',
# 'Polio',
# 'Diphtheria',
 'Incidents_HIV',
# 'GDP_per_capita',
# 'Population_mln',
# 'Thinness_ten_nineteen_years',
 'Thinness_five_nine_years',
 'Schooling',
 'Economy_status_Developed',
# 'Economy_status_Developing',
 'Region_Asia',
 'Region_Central America and Caribbean',
 'Region_European Union',
 'Region_Middle East',
 'Region_North America',
 'Region_Oceania',
 'Region_Rest of Europe',
 'Region_South America',
 'log_gdp',
 'immunisation_avg']

In [ ]:
# def scaling(df):

#     # Also want to scale in the Feature Engineering
#     df_scale = df.copy()
#     minmax = MinMaxScaler() ## Initialise scaler
#     minmax.fit(df_scale) ## Fit the scaler

#     ## Transform the data according to the scaler
#     ## Save it as a new dataframe called df_scale_minmax
#     df_scale_minmax = minmax.transform(df_scale)

#     return df_scale_minmax

In [ ]:
# X_train_scaled = scaling(X_train_fe[feature_cols])

## Creating the Model

In [ ]:
# Step 1. Create the linreg + the data you'll be using
lin_reg = sm.OLS(y_train, X_train_fe[feature_cols])     # target, features

# Step 2. Fit/train the linreg
results = lin_reg.fit()

# Step 3. View the summary of our results
results.summary()

In [ ]:
## Create predictions for the training set and investigate the RMSE
# We need to predict on the exact same format of data that we've trained on
# In this case, we trained on the feature_cols selection of X_train_fe
# Store the results in y_pred_train
y_pred_train = results.predict(X_train_fe[feature_cols])

# For our training predictions, generate the RMSE
rmse_train = statsmodels.tools.eval_measures.rmse(y_train, y_pred_train)

print(f'RMSE on Train: {rmse_train}')

## Applying to Test Set

In [ ]:
## We apply feature_eng to the X_test set! 
## This is why having a nice neat function is very nice! 

X_test_fe = feature_engineer(X_test)

In [ ]:
# Moment of truth... how well does our model generalise?
# How well does it do on previously unseen data (test)??
y_test_pred = results.predict(X_test_fe[feature_cols])    # Use exact same features that were "seen" in Train
rmse_test = statsmodels.tools.eval_measures.rmse(y_test, y_test_pred)

print(f'RMSE on Train: {rmse_train}')
print(f'RMSE on Test: {rmse_test}')

## Logarithm of the GDP

In [ ]:
log_gdp = np.log(df['GDP_per_capita'])       # create a series of the logs of GDP values

sns.scatterplot(x = log_gdp,
                y = 'Life_expectancy',
                color = 'blue',
                data = df)                   # check correlation between GDP and life expectancy in a scatterplot

plt.show()

In [ ]:
df['log_gdp'] = np.log(df['GDP_per_capita'])      # create a new column in the dataframe to hold these values of log_GDP

df.head()

## Aggregating the Immunisation Columns

In [ ]:
df['immunisation_avg'] = (df['Polio'] + df['Diphtheria'] + df['Hepatitis_B']) / 3 # + df['Measles']

sns.scatterplot(x = 'immunisation_avg',
                y = 'Life_expectancy',
                color = 'blue',
                data = df)                   # check correlation between immunisation_avg and life expectancy in a scatterplot

plt.show()

In [ ]:
df.head()