In [1]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv("Life Expectancy Data.csv")

In [7]:
df[['Region', 'Year', 'Under_five_deaths', 'Adult_mortality', 'BMI',
            'Incidents_HIV', 'GDP_per_capita', 'Schooling', 'Economy_status_Developing', 'Life_expectancy']].sample(n=1)

,Region,Year,Under_five_deaths,Adult_mortality,BMI,Incidents_HIV,GDP_per_capita,Schooling,Economy_status_Developing,Life_expectancy
2826,Central America and Caribbean,2002,97.3,303.7545,23.5,1.37,1281,4.0,1,57.7